
<div class="col-md-12">
  <div class="col-md-9">
    <div ng-hide="editingprofile" ng-mouseover="hovering.profile=true" ng-mouseleave="hovering.profile=false" class="row main-profile main-form">
      <div class="col-md-6">
        <button ng-show="hovering.profile" ng-click="editingprofile=true" class="btn btn-default"><i class="fa fa-pencil"></i></button><img src="{{user.picurl}}" class="img-responsive img-circle">
      </div>
      <div class="col-md-6">
        <div ng-show="user.firstname" class="row">
          <h2>{{user.firstname + ' ' + user.lastname | uppercase}}
            <button ng-show="hovering.profile" ng-click="editingprofile=true" class="btn btn-default"><i class="fa fa-pencil"></i></button>
          </h2>
        </div>
        <div ng-show="user.gradyear" class="row">         
          <h3>Class of {{user.gradyear}}
            <button ng-show="hovering.profile" ng-click="editingprofile=true" class="btn btn-default"><i class="fa fa-pencil"></i></button>
          </h3>
        </div>
        <div ng-show="user.schoolname" class="row">
          <h3>Student at {{user.schoolname}}
            <button ng-show="hovering.profile" ng-click="editingprofile=true" class="btn btn-default"><i class="fa fa-pencil"></i></button>
          </h3>
        </div>
        <div ng-show="user.schoolmascot" class="row">
          <p>Home of the fighting {{user.schoolmascot}}
            <button ng-show="hovering.profile" ng-click="editingprofile=true" class="btn btn-default"><i class="fa fa-pencil"></i></button>
          </p>
        </div>
        <div ng-show="user.gradcity" class="row">
          <p>{{user.gradcity}}, {{user.gradstate}}
            <button ng-show="hovering.profile" ng-click="editingprofile=true" class="btn btn-default"><i class="fa fa-pencil"></i></button>
          </p>
        </div>
      </div>
    </div>
    <form ng-show="editingprofile" class="row main-form edit-profile-form">
      <div class="form-group">
        <label for="edit-firstname-profile">First Name</label>
        <input id="edit-firstname-profile" ng-model="edituser.firstname" placeholder="first name" class="form-control">
      </div>
      <div class="form-group">
        <label for="edit-lastname-profile">Last Name</label>
        <input id="edit-lastname-profile" ng-model="edituser.lastname" placeholder="last name" class="form-control">
      </div>
      <div class="form-group">
        <label for="edit-schoolname-profile">School Name</label>
        <input id="edit-schoolname-profile" ng-model="edituser.schoolname" placeholder="school name" class="form-control">
      </div>
      <div class="form-group">
        <label for="edit-schoolmascot-profile">School Mascot</label>
        <input id="edit-schoolmascot-profile" ng-model="edituser.schoolmascot" placeholder="school mascot" class="form-control">
      </div>
      <div class="form-group">
        <label for="edit-gradyear-profile">Graduation Year</label>
        <input id="edit-gradyear-profile" ng-model="edituser.gradyear" placeholder="graduation year" class="form-control">
      </div>
      <div class="form-group">
        <label for="edit-gradcity-profile">City</label>
        <input id="edit-gradcity-profile" ng-model="edituser.gradcity" placeholder="city" class="form-control">
      </div>
      <div class="form-group">
        <label for="edit-gradstate-profile">State</label>
        <input id="edit-gradstate-profile" ng-model="edituser.gradstate" placeholder="state" class="form-control">
      </div>
      <div class="form-group">
        <label for="edit-picurl-profile">Picture URL</label>
        <input id="edit-picurl-profile" ng-model="edituser.picurl" placeholder="picture url" class="form-control">
      </div>
      <div class="form-group">
        <button ng-click="update()" class="btn btn-default">Finished Editing</button>
      </div>
    </form>
    <div ng-show="isSeniorClass || isSeniorActivity" class="row summary-section main-form">
      <h1>Senior Year</h1>
      <div ng-show="isSeniorClass" class="container">
        <h2>Classes</h2>
        <div ng-repeat="class in classes | filter: &quot;Senior&quot;" class="row">
          <div class="col-md-4">
            <p>{{class.name}} </p>
          </div>
          <div class="col-md-4">
            <p>{{class.grade}} </p>
          </div>
          <div class="col-md-4">
            <button ng-click="deleteClass(class.$id)" class="btn btn-warning">X  </button>
          </div>
        </div>
      </div>
      <div ng-show="isSeniorActivity" class="container">
        <h2>Activities</h2>
        <div ng-repeat="activity in activities | filter: &quot;Senior&quot;" class="row">
          <div class="col-md-4">
            <p>{{activity.name}} </p>
          </div>
          <div class="col-md-4">
            <p>{{activity.type}}</p>
          </div>
          <div class="col-md-4">
            <button ng-click="deleteActivity(activity.$id)" class="btn btn-warning">X</button>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="isJuniorClass || isJuniorActivity" class="row summary-section main-form">
      <h1>Junior Year</h1>
      <div ng-show="isJuniorClass" class="container">
        <h2>Classes</h2>
        <div ng-repeat="class in classes | filter: &quot;Junior&quot;" class="row">
          <div class="col-md-4"> 
            <p>{{class.name}} </p>
          </div>
          <div class="col-md-4">
            <p>{{class.grade}} </p>
          </div>
          <div class="col-md-4">
            <button ng-click="deleteClass(class.$id)" class="btn btn-warning">X  </button>
          </div>
        </div>
      </div>
      <div ng-show="isJuniorActivity" class="container">
        <h2>Activities</h2>
        <div ng-repeat="activity in activities | filter: &quot;Junior&quot;" class="row">
          <div class="col-md-4">
            <p>{{activity.name}} </p>
          </div>
          <div class="col-md-4">
            <p>{{activity.type}}</p>
          </div>
          <div class="col-md-4">
            <button ng-click="deleteActivity(activity.$id)" class="btn btn-warning">X</button>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="isSophomoreClass || isSophomoreActivity" class="row summary-section main-form">
      <h1>Sophomore Year</h1>
      <div ng-show="isSophomoreClass" class="container">
        <h2>Classes</h2>
        <div ng-repeat="class in classes | filter: &quot;Sophomore&quot;" class="row">
          <div class="col-md-4"> 
            <p>{{class.name}} </p>
          </div>
          <div class="col-md-4">
            <p>{{class.grade}} </p>
          </div>
          <div class="col-md-4">
            <button ng-click="deleteClass(class.$id)" class="btn btn-warning">X  </button>
          </div>
        </div>
      </div>
      <div ng-show="isSophomoreActivity" class="container">
        <h2>Activities</h2>
        <div ng-repeat="activity in activities | filter: &quot;Sophomore&quot;" class="row">
          <div class="col-md-4">
            <p>{{activity.name}} </p>
          </div>
          <div class="col-md-4">
            <p>{{activity.type}}</p>
          </div>
          <div class="col-md-4">
            <button ng-click="deleteActivity(activity.$id)" class="btn btn-warning">X</button>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="isFreshmanClass || isFreshmanActivity" class="row summary-section main-form">
      <h1>Freshman Year</h1>
      <div ng-show="isFreshmanClass" class="container">
        <h2>Classes</h2>
        <div ng-repeat="class in classes | filter: &quot;Freshman&quot;" class="row">
          <div class="col-md-4">
            <p>{{class.name}} </p>
          </div>
          <div class="col-md-4">
            <p>{{class.grade}} </p>
          </div>
          <div class="col-md-4">
            <button ng-click="deleteClass(class.$id)" class="btn btn-warning">X  </button>
          </div>
        </div>
      </div>
      <div ng-show="isFreshmanActivity" class="container">
        <h2>Activities</h2>
        <div ng-repeat="activity in activities | filter: &quot;Freshman&quot;" class="row">
          <div class="col-md-4">
            <p>{{activity.name}} </p>
          </div>
          <div class="col-md-4">
            <p>{{activity.type}}</p>
          </div>
          <div class="col-md-4">
            <button ng-click="deleteActivity(activity.$id)" class="btn btn-warning">X</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">   
      <div id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1>Create Profile  </h1>
            </div>
            <div class="modal-body">
              <form class="row main-form">
                <div class="form-group">
                  <label for="firstname-profile">First Name</label>
                  <input id="firstname-profile" ng-model="user.firstname" placeholder="first name" class="form-control">
                </div>
                <div class="form-group">
                  <label for="lastname-profile">Last Name</label>
                  <input id="lastname-profile" ng-model="user.lastname" placeholder="last name" class="form-control">
                </div>
                <div class="form-group">
                  <label for="schoolname-profile">School Name</label>
                  <input id="schoolname-profile" ng-model="user.schoolname" placeholder="school name" class="form-control">
                </div>
                <div class="form-group">
                  <label for="schoolmascot-profile">School Mascot</label>
                  <input id="schoolmascot-profile" ng-model="user.schoolmascot" placeholder="school mascot" class="form-control">
                </div>
                <div class="form-group">
                  <label for="gradyear-profile">Graduation Year</label>
                  <input id="gradyear-profile" ng-model="user.gradyear" placeholder="graduation year" class="form-control">
                </div>
                <div class="form-group">
                  <label for="gradcity-profile">City</label>
                  <input id="gradcity-profile" ng-model="user.gradcity" placeholder="city" class="form-control">
                </div>
                <div class="form-group">
                  <label for="gradstate-profile">State</label>
                  <input id="gradstate-profile" ng-model="user.gradstate" placeholder="state" class="form-control">
                </div>
                <div class="form-group">
                  <label for="picurl-profile">Picture URL</label>
                  <input id="picurl-profile" ng-model="user.picurl" placeholder="picture url" class="form-control">
                </div>
              </form>
              <div class="modal-footer">
                <button ng-click="save()" data-dismiss="modal" class="btn btn-info">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="classModal" tabindex="-1" role="dialog" aria-labelledby="classModalLabel" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1>Add Class </h1>
            </div>
            <div class="modal-body">
              <form class="row main-form">
                <div class="form-group">
                  <input ng-model="class.name" placeholder="class name" class="form-control">
                </div>
                <div class="form-group">
                  <label>Class Year</label>
                  <select ng-model="class.level">
                    <option value="Freshman" selected>Freshman</option>
                    <option value="Sophomore">Sophomore</option>
                    <option value="Junior">Junior</option>
                    <option value="Senior">Senior</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Grade</label>
                  <select ng-model="class.grade">
                    <option value="A">90-100+</option>
                    <option value="B">80-89</option>
                    <option value="C">70-79</option>
                    <option value="F"><69</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Class Credits</label>
                  <select ng-model="class.hours">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5            </option>
                  </select>
                </div>
              </form>
              <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default">Close</button>
                <button ng-click="addClass()" data-dismiss="modal" class="btn btn-info">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModalLabel" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1>Add Activity</h1>
            </div>
            <div class="modal-body">
              <form class="row main-form">
                <div class="form-group">
                  <input ng-model="activity.name" placeholder="activity name" class="form-control">
                </div>
                <div class="form-group">
                  <label>Activity Type</label>
                  <select ng-model="activity.type">
                    <option value="Band" selected>Band</option>
                    <option value="Honor roll">Honor Roll</option>
                    <option value="Intern">Internship</option>
                    <option value="Co-op">Co-op</option>
                    <option value="Volunteer">Volunteer</option>
                    <option value="Society">Society</option>
                    <option value="Award">Award</option>
                    <option value="Theatre">Theatre</option>
                    <option value="Sports">Sports</option>
                    <option value="Club">Club</option>
                    <otpion value="SGA">Student Government</otpion>
                    <option value="ROTC">ROTC</option>
                    <option value="Competitions">Competitions</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Class Year</label>
                  <select ng-model="activity.level">
                    <option value="Freshman" selected>Freshman</option>
                    <option value="Sophomore">Sophomore</option>
                    <option value="Junior">Junior</option>
                    <option value="Senior">Senior</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button data-dismiss="modal" class="btn btn-default">Close</button>
              <button ng-click="addActivity()" data-dismiss="modal" class="btn-btn-info">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-right-profile">
    <div class="row">
      <form class="row main-form">
        <div class="form-group">
          <button type="button" data-toggle="modal" data-target="#classModal" class="btn btn-primary btn-lg">Add new class</button>
        </div>
        <div class="form-group">
          <button type="button" data-toggle="modal" data-target="#activityModal" class="btn btn-primary btn-lg">Add new activity</button>
        </div>
        <div class="form-group">
          <button ng-hide="profile" type="button" data-toggle="modal" data-target="#profileModal" class="btn btn-primary btn-lg">Create Profile</button>
        </div>
      </form>
      <h1>Points</h1>
      <h1>Badges</h1>
      <h1>GPA</h1>
    </div>
  </div>
</div>