.container
  .row.main-form
    .col-md-6
      .img-login
        img(src='images/login.jpg')
    .col-md-6.right-half-login
      form.row
        table.table-login
          tbody
            tr.username-login(ng-show='!loggedin')
              td: label(for='username-login') Email
              td: input#username-login.form-control(ng-model='user.email' type='email' placeholder='email')
            tr.password-login(ng-show='!loggedin')
              td: label(for='password-login') Password
              td: input#password-login.form-control(ng-model='user.password' type='password' placeholder='password')
            tr.confirm-login(ng-show='!loggedin && registered')
              td: label(for='confirm-login') Confirm Password
              td: input#confirm-login.form-control(ng-model='user.confirm' type='password' placeholder='confirm password')
      .row.btn-login
        button.btn.btn-info.btn-lg(ng-show='!loggedin' ng-click='authUser()') Login
        button.btn.btn-default.btn-lg(ng-show='!loggedin && registered' ng-click='createUser()') Register
        button.btn.btn-default.btn-lg(ng-show='loggedin' ng-click='unauthUser()') Logout
