.nav-container(ng-controller='LoginCtrl')
  nav.navbar.navbar-inverse.navbar-fixed-top
   .container-fluid
     .navbar-header
       button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
         span.sr-only Toggle navigation
         span.icon-bar
         span.icon-bar
         span.icon-bar
       a.navbar-brand(ui-sref='home') Appchiever
     #navbar.collapse.navbar-collapse
       ul.nav.navbar-nav.navbar-right
         li: a(ui-sref='home'): i.fa.fa-home &nbsp; Home
         li: a(ui-sref='profile'): i.fa.fa-user &nbsp; Profile
         li: a(ui-sref='home' ng-click='unauthUser()'): i.fa.fa-sign-out &nbsp; Logout
