.container
    form.row.main-form
      .form-group
        label(for='firstname-profile') First Name
        input#firstname-profile.form-control(ng-model='user.firstname' placeholder='first name')
      .form-group
        label(for='lastname-profile') Last Name
        input#lastname-profile.form-control(ng-model='user.lastname' placeholder='last name')
      .form-group
        label(for='schoolname-profile') School Name
        input#schoolname-profile.form-control(ng-model='user.schoolname' placeholder='school name')
      .form-group
        label(for='schoolmascot-profile') School Mascot
        input#schoolmascot-profile.form-control(ng-model='user.schoolmascot' placeholder='school mascot')
      .form-group
        label(for='gradyear-profile') Graduation Year
        input#gradyear-profile.form-control(ng-model='user.gradyear' placeholder='graduation year')
      .form-group
        label(for='gradcity-profile') City
        input#gradcity-profile.form-control(ng-model='user.gradcity' placeholder='city')
      .form-group
        label(for='gradstate-profile') State
        input#gradstate-profile.form-control(ng-model='user.gradstate' placeholder='state')
      .form-group
        label(for='picurl-profile') Picture URL
        input#picurl-profile.form-control(ng-model='user.picurl' placeholder='picture url')
      .form-group
        button.btn.btn-info(ng-click='save()') Submit

    .row
      .col-md-6
        img.img-responsive.img-circle(src='{{user.picurl}}')
        h2 {{user.firstname + ' ' + user.lastname | uppercase}}
      .col-md-6
        h3 {{user.schoolname}}
        h3 {{user.schoolmascot}}
        h3 {{user.gradyear}}
        h3 {{user.gradcity}}
        h3 {{user.gradstate}}
