.col-md-12
  .col-md-9
    .row.main-profile.main-form(ng-hide='editingprofile' ng-mouseover='hovering.profile=true' ng-mouseleave='hovering=false')
      .col-md-6
        button(ng-show='hovering.profile' ng-click='editingprofile=true').btn.btn-default: i.fa.fa-pencil
        img.img-responsive.img-circle(src='{{user.picurl}}')

      .col-md-6
        .row
          h2 {{user.firstname + ' ' + user.lastname | uppercase}}
            button(ng-show='hovering.profile' ng-click='editingprofile=true').btn.btn-default: i.fa.fa-pencil
        .row          
          h3 Class of {{user.gradyear}}
            button(ng-show='hovering.profile' ng-click='editingprofile=true').btn.btn-default: i.fa.fa-pencil
        .row
          h3 Student at {{user.schoolname}}
            button(ng-show='hovering.profile' ng-click='editingprofile=true').btn.btn-default: i.fa.fa-pencil
        .row
          p Home of the fighting {{user.schoolmascot}}
            button(ng-show='hovering.profile' ng-click='editingprofile=true').btn.btn-default: i.fa.fa-pencil
        .row
          p {{user.gradcity}}, {{user.gradstate}}
            button(ng-show='hovering.profile' ng-click='editingprofile=true').btn.btn-default: i.fa.fa-pencil
            
    form.row.main-form.edit-profile-form(ng-show='editingprofile')
      .form-group
        label(for='edit-firstname-profile') First Name
        input#edit-firstname-profile.form-control(ng-model='edituser.firstname' placeholder='first name')
      .form-group
        label(for='edit-lastname-profile') Last Name
        input#edit-lastname-profile.form-control(ng-model='edituser.lastname' placeholder='last name')
      .form-group
        label(for='edit-schoolname-profile') School Name
        input#edit-schoolname-profile.form-control(ng-model='edituser.schoolname' placeholder='school name')
      .form-group
        label(for='edit-schoolmascot-profile') School Mascot
        input#edit-schoolmascot-profile.form-control(ng-model='edituser.schoolmascot' placeholder='school mascot')
      .form-group
        label(for='edit-gradyear-profile') Graduation Year
        input#edit-gradyear-profile.form-control(ng-model='edituser.gradyear' placeholder='graduation year')
      .form-group
        label(for='edit-gradcity-profile') City
        input#edit-gradcity-profile.form-control(ng-model='edituser.gradcity' placeholder='city')
      .form-group
        label(for='edit-gradstate-profile') State
        input#edit-gradstate-profile.form-control(ng-model='edituser.gradstate' placeholder='state')
      .form-group
        label(for='edit-picurl-profile') Picture URL
        input#edit-picurl-profile.form-control(ng-model='edituser.picurl' placeholder='picture url')
      .form-group
        button.btn.btn-default(ng-click='update()') Finished Editing

    .row.summary-section.main-form
      h1 Senior Year
      h2 Classes
      .container
        .row(ng-repeat='class in classes | filter: "Senior"')
          .col-md-4
            p {{class.name}} 
          .col-md-4
            p {{class.grade}} 
          .col-md-4
            button.btn.btn-warning X  
      h2 Activities
      .container
        .row(ng-repeat='activity in activities | filter: "Senior"')
          .col-md-4
            p {{activity.name}} 
          .col-md-4
            p {{activity.type}}
          .col-md-4
            button.btn.btn-warning X
          
    .row.summary-section.main-form
      h1 Junior Year
      h2 Classes
      .container
        .row(ng-repeat='class in classes | filter: "Junior"')
          .col-md-4 
            p {{class.name}} 
          .col-md-4
            p {{class.grade}} 
          .col-md-4
            button.btn.btn-warning X  
      h2 Activities
      .container
        .row(ng-repeat='activity in activities | filter: "Junior"')
          .col-md-4
            p {{activity.name}} 
          .col-md-4
            p {{activity.type}}
          .col-md-4
            button.btn.btn-warning X
                  
    .row.summary-section.main-form
      h1 Sophomore Year
      h2 Classes
      .container
        .row(ng-repeat='class in classes | filter: "Sophomore"')
          .col-md-4 
            p {{class.name}} 
          .col-md-4
            p {{class.grade}} 
          .col-md-4
            button.btn.btn-warning X  
      h2 Activities
      .container
        .row(ng-repeat='activity in activities | filter: "Sophomore"')
          .col-md-4
            p {{activity.name}} 
          .col-md-4
            p {{activity.type}}
          .col-md-4
            button.btn.btn-warning X
                  
    .row.summary-section.main-form
      h1 Freshman Year
      h2 Classes
      .container
        .row(ng-repeat='class in classes | filter: "Freshman"')
          .col-md-4
            p {{class.name}} 
          .col-md-4
            p {{class.grade}} 
          .col-md-4
            button.btn.btn-warning X  
      h2 Activities
      .container
        .row(ng-repeat='activity in activities | filter: "Freshman"')
          .col-md-4
            p {{activity.name}} 
          .col-md-4
            p {{activity.type}}
          .col-md-4
            button.btn.btn-warning X
                  
    .row    
      #profileModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='profileModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h1 Create Profile  
            .modal-body
              form.row.main-form
                .form-group
                  label(for='firstname-profile') First Name
                  input#firstname-profile.form-control(ng-model='user.firstname' placeholder='first name')
                .form-group
                  label(for='lastname-profile') Last Name
                  input#lastname-profile.form-control(ng-model='user.lastname' placeholder='last name')
                .form-group
                  label(for='schoolname-profile') School Name
                  input#schoolname-profile.form-control(ng-model='user.schoolname' placeholder='school name')
                .form-group
                  label(for='schoolmascot-profile') School Mascot
                  input#schoolmascot-profile.form-control(ng-model='user.schoolmascot' placeholder='school mascot')
                .form-group
                  label(for='gradyear-profile') Graduation Year
                  input#gradyear-profile.form-control(ng-model='user.gradyear' placeholder='graduation year')
                .form-group
                  label(for='gradcity-profile') City
                  input#gradcity-profile.form-control(ng-model='user.gradcity' placeholder='city')
                .form-group
                  label(for='gradstate-profile') State
                  input#gradstate-profile.form-control(ng-model='user.gradstate' placeholder='state')
                .form-group
                  label(for='picurl-profile') Picture URL
                  input#picurl-profile.form-control(ng-model='user.picurl' placeholder='picture url')
              .modal-footer
                button.btn.btn-default(data-dismiss='modal') Close
                button.btn.btn-info(ng-click='save()' data-dismiss='modal') Submit
              
    .row
      #classModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='classModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h1 Add Class 
            .modal-body
              form.row.main-form
                .form-group
                  input.form-control(ng-model='class.name' placeholder='class name')
                .form-group
                  label Class Year
                  select(ng-model='class.level')
                    option(value='Freshman' selected) Freshman
                    option(value='Sophomore') Sophomore
                    option(value='Junior') Junior
                    option(value='Senior') Senior
                .form-group
                  label Grade
                  select(ng-model='class.grade')
                    option(value='A') 90-100+
                    option(value='B') 80-89
                    option(value='C') 70-79
                    option(value='F') <69
                .form-group
                  label Class Credits
                  select(ng-model='class.hours')
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5            
              .modal-footer
                button.btn.btn-default(data-dismiss='modal') Close
                button.btn.btn-info(ng-click='addClass()' data-dismiss='modal') Submit
    
    .row
      #activityModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='activityModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h1 Add Activity
            .modal-body
              form.row.main-form
                .form-group
                  input.form-control(ng-model='activity.name' placeholder='activity name')
                .form-group
                  label Activity Type
                  select(ng-model='activity.type')
                    option(value='Band' selected) Band
                    option(value='Honor roll') Honor Roll
                    option(value='Intern') Internship
                    option(value='Co-op') Co-op
                    option(value='Volunteer') Volunteer
                    option(value='Society') Society
                    option(value='Award') Award
                    option(value='Theatre') Theatre
                    option(value='Sports') Sports
                    option(value='Club') Club
                    otpion(value='SGA') Student Government
                    option(value='ROTC') ROTC
                    option(value='Competitions') Competitions
                .form-group
                  label Class Year
                  select(ng-model='activity.level')
                    option(value='Freshman' selected) Freshman
                    option(value='Sophomore') Sophomore
                    option(value='Junior') Junior
                    option(value='Senior') Senior
            .modal-footer
              button.btn.btn-default(data-dismiss='modal') Close
              button.btn-btn-info(ng-click='addActivity()' data-dismiss='modal') Submit
    
  
  .col-md-3.col-right-profile
    .row
      form.row.main-form
        .form-group
          button.btn.btn-primary.btn-lg(type='button' data-toggle='modal' data-target='#classModal') Add new class
        .form-group
          button.btn.btn-primary.btn-lg(type='button' data-toggle='modal' data-target='#activityModal') Add new activity
        .form-group
          button.btn.btn-primary.btn-lg(type='button' data-toggle='modal' data-target='#profileModal') Create Profile
      h1 Points
      h1 Badges
      h1 GPA
