.container
  .row
    h1 Create Profile  
    form.row.main-form
      .form-group
        label(for='firstname-profile') First Name
        input#firstname-profile.form-control(ng-model='user.firstname' placeholder='first name')
      .form-group
        label(for='lastname-profile') Last Name
        input#lastname-profile.form-control(ng-model='user.lastname' placeholder='last name')
      .form-group
        label(for='schoolname-profile') School Name
        input#schoolname-profile.form-control(ng-model='user.schoolname' placeholder='school name')
      .form-group
        label(for='schoolmascot-profile') School Mascot
        input#schoolmascot-profile.form-control(ng-model='user.schoolmascot' placeholder='school mascot')
      .form-group
        label(for='gradyear-profile') Graduation Year
        input#gradyear-profile.form-control(ng-model='user.gradyear' placeholder='graduation year')
      .form-group
        label(for='gradcity-profile') City
        input#gradcity-profile.form-control(ng-model='user.gradcity' placeholder='city')
      .form-group
        label(for='gradstate-profile') State
        input#gradstate-profile.form-control(ng-model='user.gradstate' placeholder='state')
      .form-group
        label(for='picurl-profile') Picture URL
        input#picurl-profile.form-control(ng-model='user.picurl' placeholder='picture url')
      .form-group
        button.btn.btn-info(ng-click='save()') Submit

  .row
    .col-md-6
      img.img-responsive.img-circle(src='{{user.picurl}}')
      h2 {{user.firstname + ' ' + user.lastname | uppercase}}
    .col-md-6
      h3 {{user.schoolname}}
      h3 {{user.schoolmascot}}
      h3 {{user.gradyear}}
      h3 {{user.gradcity}}
      h3 {{user.gradstate}}

  .row
    form.row.main-form
      .form-group
        button.btn.btn-default Add new class
        button.btn.btn-default Add new activity
  .row
    h1 Add Class 
    form.row.main-form
      .form-group
        input.form-control(ng-model='class.name' placeholder='class name')
      .form-group
        input.form-control(ng-model='class.level' placeholder='senior junior sophomore freshman')
      .form-group
        input.form-control(ng-model='class.grade' placeholder='gpa')
      .form-group
        input.form-control(ng-model='class.hours' placeholder='credit hours')
      .form-group
        button.btn.btn-default(ng-click='addClass()') Submit
  .row
    h1 Add Activity
    form.row.main-form
      .form-group
        input.form-control(ng-model='activity.name' placeholder='activity name')
      .form-group
        input.form-control(ng-model='activity.level' placeholder='senior junior sophomore freshman')
      .form-group
        input.form-control(ng-model='activity.type' placeholder='sports band etc')
      .form-group
        button.btn-btn-default(ng-click='addActivity()') Submit
  
  .row
    .col-md-6(ng-repeat='class in classes')
      p {{class.name}} {{class.level}} {{class.grade}} {{class.hours}}
    
    .col-md-6(ng-repeat='activity in activities')
      p {{activity.name}} {{activity.level}} {{activity.type}}
      
