.col-md-12
  .col-md-9(ng-show='profile')
    .row.main-profile.main-form(ng-hide='editingprofile' ng-mouseover='hovering.profile=true' ng-mouseleave='hovering.profile=false')
      .col-md-6
        button(ng-show='hovering.profile' ng-click='editingprofile=true').btn.btn-default: i.fa.fa-pencil
        img.img-responsive.img-circle(src='{{user.picurl}}')

      .col-md-6
        .row(ng-show='user.firstname')
          h2 {{user.firstname + ' ' + user.lastname | uppercase}}
            button(ng-show='hovering.profile' ng-click='editingprofile=true').btn.btn-default: i.fa.fa-pencil
        .row(ng-show='user.gradyear')          
          h3 Class of {{user.gradyear}}
            button(ng-show='hovering.profile' ng-click='editingprofile=true').btn.btn-default: i.fa.fa-pencil
        .row(ng-show='user.schoolname')
          h3 Student at {{user.schoolname}}
            button(ng-show='hovering.profile' ng-click='editingprofile=true').btn.btn-default: i.fa.fa-pencil
        .row(ng-show='user.schoolmascot')
          p Home of the fighting {{user.schoolmascot}}
            button(ng-show='hovering.profile' ng-click='editingprofile=true').btn.btn-default: i.fa.fa-pencil
        .row(ng-show='user.gradcity')
          p {{user.gradcity}}, {{user.gradstate}}
            button(ng-show='hovering.profile' ng-click='editingprofile=true').btn.btn-default: i.fa.fa-pencil
            
    form.row.main-form.edit-profile-form(ng-show='editingprofile')
      .form-group
        label(for='edit-firstname-profile') First Name
        input#edit-firstname-profile.form-control(ng-model='edituser.firstname' placeholder='first name')
      .form-group
        label(for='edit-lastname-profile') Last Name
        input#edit-lastname-profile.form-control(ng-model='edituser.lastname' placeholder='last name')
      .form-group
        label(for='edit-schoolname-profile') School Name
        input#edit-schoolname-profile.form-control(ng-model='edituser.schoolname' placeholder='school name')
      .form-group
        label(for='edit-schoolmascot-profile') School Mascot
        input#edit-schoolmascot-profile.form-control(ng-model='edituser.schoolmascot' placeholder='school mascot')
      .form-group
        label(for='edit-gradyear-profile') Graduation Year
        input#edit-gradyear-profile.form-control(ng-model='edituser.gradyear' placeholder='graduation year')
      .form-group
        label(for='edit-gradcity-profile') City
        input#edit-gradcity-profile.form-control(ng-model='edituser.gradcity' placeholder='city')
      .form-group
        label(for='edit-gradstate-profile') State
        input#edit-gradstate-profile.form-control(ng-model='edituser.gradstate' placeholder='state')
      .form-group
        label(for='edit-picurl-profile') Picture URL
        input#edit-picurl-profile.form-control(ng-model='edituser.picurl' placeholder='picture url')
      .form-group
        button.btn.btn-default(ng-click='update()') Finished Editing             
    
    include profile_levels
    
  .col-md-3.col-right-profile
    .row
      form.row.main-form
        .form-group
          button.btn.btn-primary.btn-lg(type='button' data-toggle='modal' data-target='#classModal') Add new class
        .form-group
          button.btn.btn-primary.btn-lg(type='button' data-toggle='modal' data-target='#activityModal') Add new activity
        .form-group
          button.btn.btn-primary.btn-lg(ng-hide='profile' type='button' data-toggle='modal' data-target='#profileModal') Create Profile
      h1 Points
      h1 Badges
      h1(ng-model='totalgpa') GPA {{totalgpa}}
        button.btn.btn-default.btn-large(ng-click='calculateGpa()') Calculate GPA

include profile_modals 
